In [1]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})
var

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [3]:
var['C'] = var['A']+var['B']
print(var)

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

In [4]:
var['C'] = var['A']-var['B']
print(var)

   A   B  C
0  1   6 -5
1  2   7 -5
2  3   8 -5
3  4   9 -5
4  5  10 -5

In [5]:
var['C'] = var['A']*var['B']
print(var)

   A   B   C
0  1   6   6
1  2   7  14
2  3   8  24
3  4   9  36
4  5  10  50

In [6]:
var['C'] = var['A']/var['B']
print(var)

   A   B         C
0  1   6  0.166667
1  2   7  0.285714
2  3   8  0.375000
3  4   9  0.444444
4  5  10  0.500000

In [7]:
var1 = pd.DataFrame({"A":[18,23,12,40,75],"B":[62,47,8,29,10]})
var1

    A   B
0  18  62
1  23  47
2  12   8
3  40  29
4  75  10

In [8]:
var1['Python'] = var1['A']>=var1['B']
var1

    A   B  Python
0  18  62   False
1  23  47   False
2  12   8    True
3  40  29    True
4  75  10    True