In [6]:
import pandas as pd
line = [1,2,3,4,5]
var = pd.DataFrame(line)
print(var)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
import pandas as pd
dic = {"Name" : ['Janak','Sapkota','Janaki','jagriti'],"Age" :[19,19,22,17],"Gender" :['Male','None','female','female']}
var1 = pd.DataFrame(dic)
print(var1)
print(type(var1))

      Name  Age  Gender
0    Janak   19    Male
1  Sapkota   19    None
2   Janaki   22  female
3  jagriti   17  female
<class 'pandas.core.frame.DataFrame'>

In [4]:
list_1 = [[1,2,3,4,5],[11,12,13,14,15],[45,46,47,48,49]]
var2 = pd.DataFrame(list_1)
print(var2)
print(type(var1))

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
2  45  46  47  48  49
<class 'pandas.core.frame.DataFrame'>

In [6]:
series = {"P" : pd.Series([1,2,3,4,5]) , "Q" : pd.Series([1,2,3,4,5])}

var3 = pd.DataFrame(series)
print(var2)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
2  45  46  47  48  49