In [11]:
import pandas as pd
x = [3,4,5,6,7]
var = pd.Series(x,index = ['a','s','d','f','g'],dtype = float,name = "Python")
print(var)
print(type(var))

a    3.0
s    4.0
d    5.0
f    6.0
g    7.0
Name: Python, dtype: float64
<class 'pandas.core.series.Series'>

In [12]:
dic = {"name" : ['Python','C','CPP','Java'],"por" : [12,13,14,15], "rank": [1,4,3,2]}
var1 = pd.Series(dic)
print(var1)
print(type(var1))

name    [Python, C, CPP, Java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
<class 'pandas.core.series.Series'>

In [13]:
s1 = pd.Series(12,index = [0,1,2,3,4,5,6])

print(s1)
print(type(s1))

0    12
1    12
2    12
3    12
4    12
5    12
6    12
dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
s2 = pd.Series(12,index = [0,1,2,3])
s3 = pd.Series(16,index = [0,1,2,3,4,5,6,7])

print(s2+s3)

0    28.0
1    28.0
2    28.0
3    28.0
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64